# Обязательно для seed и сайта
MONGODB_URI=mongodb+srv://nikitavisitskiy_db_user:i4zCkdT80v9iUEgw@cluster0.loefhqo.mongodb.net/?retryWrites=true&w=majority

# Фид: URL или локальный файл. При ошибке SSL seed автоматически возьмёт feed.xml из корня.
# FEED_URL=https://pb20127.profitbase.ru/export/profitbase_xml/...
# MONGODB_URI=mongodb+srv://nikitavisitskiy_db_user:i4zCkdT80v9iUEgw@cluster0.loefhqo.mongodb.net/?appName=Cluster0

FEED_URL=https://pb20127.profitbase.ru/export/profitbase_xml/35f50fe5ae463dd58596adaae32464a5
FEED_URL=file://feed.xml