@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-[#2a515f];
}

.slide-in-right {
  animation: slideInRight 0.3s ease-out;
}
